// nav styles

.botonera{
    background-color: pink;
    display: flex;

    &-item{
        flex-grow: 1;}
    &-link{
        color:#333;
        &:hover{
            color:orange;
        }
    }
}